parameters:
  level: 5
  paths:
    - src
  
  excludePaths:
    - src/*/migrations
    - src/*/factories
    - vendor
    - tests
  
  checkGenericClassNames: false
  checkMissingIterableValueType: false
  
  # Symfony Polyfill compatibility
  symfony:
    version: 5.3
  
  # Report settings
  reportUnmatchedIgnoredErrors: false
  treatPhpDocTypesAsCertain: false
  
  # Type checking
  checkAlwaysTrueFunctions: true
  checkInternalClassCasing: true
  checkTooWideTypehints: true
  
  # Enabled errors
  enableStaticReflection: true
  enableUndefinedConstantChecks: true
